.ui.borderless.topmenu.menu {
  background-color: #F5F5F5;
  border:none;
  box-shadow: none;
}

.ui.borderless.middlemenu.menu {
  border:none;
  box-shadow: none;
  margin: none;
}

.footer-background {
  background-color: #292929;
  color:white;
  padding: 20px 0 0 20px;
}

.grey-background {
  background-color: lightgray;
  height: 200px;
}

.white-background {
  background-color: whitesmoke;
  height: 200px;
}

.black-background {
  background-color: black;
  color: whitesmoke;
  height: 200px;
}

.grad-background {
  background: url('gradbackground.png') no-repeat center center fixed;
  background-size: cover;
  height: 200px;
}

.colorblocktop {
  padding-top: 20px;
}
